@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* body:lang(ar), html:lang(ar) {
    font-family: 'Cairo', sans-serif !important;
}

[lang="ar"] {
    font-family: 'Cairo', sans-serif !important;
}  /* Added closing brace for the [lang="ar"] selector */

/* Override --code-bg for the light theme */
body:not(.dark) {
    background: #fff !important;
    background-color: #fff !important;
}

body:not(.dark) .main {
    background: #fff !important;
}

/* Additional styles */
footer {
    display: none !important;
}

body.dark {
    background-color: #000000 !important;
}

body.dark img {
    filter: invert(1) hue-rotate(180deg);
}
body.dark map {
    filter: invert(1) hue-rotate(180deg);
}
body.dark iframe {
    filter: invert(1) hue-rotate(180deg);
}

body.dark .entry,
body.dark .card,
body.dark .post-entry,
body.dark .main .post-entry {
    background: #000 !important;
    background-color: #000 !important;
}

body.dark,
body.dark .entry,
body.dark .card,
body.dark .post-entry,
body.dark .main .post-entry {
    color: #fff !important;
}

.entry-link.urban:hover { border: 3px solid #1abc9c !important; }
.entry-link.architecture:hover { border: 3px solid #e67e22 !important; }
.entry-link.video:hover { border: 3px solid #9b59b6 !important; }
.entry-link.design:hover { border: 3px solid #3498db !important; }

body, html {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace !important;
}

