<table class="post-meta-table">
    {{ with .Params.location }}
    <tr>
        <td><strong>{{ i18n "location" }}:</strong></td>
        <td class="spacer"></td>
        <td>{{ . }}</td>
    </tr>
    {{ end }}
    {{ with .Params.function }}
    <tr>
        <td><strong>{{ i18n "function" }}:</strong></td>
        <td class="spacer"></td>
        <td>{{ . }}</td>
    </tr>
    {{ end }}
    {{ with .Params.role }}
    <tr>
        <td><strong>{{ i18n "role" }}:</strong></td>
        <td class="spacer"></td>
        <td>{{ . }}</td>
    </tr>
    {{ end }}
    <tr>
        <td><strong>{{ i18n "year" }}:</strong></td>
        <td class="spacer"></td>
        <td>{{ .Params.year | default "2025" }}</td>
    </tr>
</table>