{{ define "main" }}
<main class="gallery-grid">
  <h1>{{ .Site.Params.homeInfoParams.Title }}</h1>
  <p>{{ .Site.Params.homeInfoParams.Content }}</p>

  <div class="category-links">
    {{ range $i, $category := .Site.Taxonomies.categories.Alphabetical }}
      {{- $name := $category.Name -}}
      {{- $categoryColor := index site.Data.category_colors (lower $name) -}}
      {{- if gt $i 0 -}}
        &nbsp;&nbsp;
      {{- end -}}
      <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}/" class="category-link-item {{ $name | urlize }}">
        <span class="category-link-text">{{ i18n $name }}</span>
      </a>
    {{ end }}
  </div>

  <div class="grid">
    {{ range .Site.RegularPages }}
      {{ if and .Params.thumbnail (gt (len .Params.thumbnail) 0) }}
      {{- $colors := slice -}}
      {{- with .Params.categories -}}
        {{- range . -}}
          {{- $color := index site.Data.category_colors (lower .) -}}
          {{- if $color -}}
            {{- $colors = $colors | append $color -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      <a href="{{ .RelPermalink }}" class="grid-item"
        {{- if gt (len $colors) 1 -}}
          {{- $n := len $colors -}}
          {{- $stops := slice -}}
          {{- $width := div 100 $n -}}
          {{- range $i, $color := $colors -}}
            {{- $start := mul $width $i -}}
            {{- $end := mul $width (add $i 1) -}}
            {{- if eq (add $i 1) $n -}}
              {{- $end = 100 -}}
            {{- end -}}
            {{- $stops = $stops | append (printf "%s %d%% %d%%" $color $start $end) -}}
          {{- end -}}
          style="--border-image: linear-gradient(to right, {{ delimit $stops ", " }});"
        {{- else if gt (len $colors) 0 -}}
          style="--border-color: {{ index $colors 0 }};"
        {{- end }}>
        <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" width="170" height="170">
        <p>{{ .Title }}</p>
      </a>
      {{ end }}
    {{ end }}
  </div>
</main>
{{ end }}