{{/* filepath: /Users/mzrxa/Documents/portfolio_paper/layouts/index.html */}}
{{/*  {{ define "main" }}
  <div class="media-gallery">
    {{ range (where .Site.RegularPages "Section" "posts") }}
      {{ with .Params.cover.image }}
        <a href="{{ $.RelPermalink }}" class="media-thumb{{ with $.Params.categories }} {{ index . 0 | lower | urlize }}{{ end }}" title="{{ $.Title }}">
          <img src="{{ . }}" alt="{{ $.Title }}">
          <div class="media-caption">
            <div class="media-title">{{ $.Title }}</div>
            <div class="media-desc">{{ $.Params.description | default (truncate $.Summary 80) }}</div>
          </div>
        </a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}  */}}
