{{ $items := .Params }}
{{ $numImages := div (len $items) 2 }}
<div class="gallery" style="display: flex; flex-wrap: wrap; gap: 10px; {{ if eq $numImages 2 }}justify-content: center;{{ else }}justify-content: space-around;{{ end }}">
    {{ range $i, $e := $items }}
        {{ if eq (mod $i 2) 1 }}
            {{ $src := index $items (sub $i 1) }}
            {{ $caption := $e }}
            <figure class="entry-cover" style="flex: 1 1 auto; height: auto; margin: 0; {{ if eq $numImages 2 }}max-width: 48%;{{ else }}max-width: 30%;{{ end }}">
                <a href="{{ $src | relURL }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ $src | relURL }}" alt="{{ $caption }}" style="width: 100%; height: auto;">
                </a>
                <figcaption>{{ $caption }}</figcaption>
            </figure>
        {{ end }}
    {{ end }}
</div>